@model IEnumerable<WebApplication1.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm("Index", "Students", new AjaxOptions()
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "loadingId",
    UpdateTargetId = "resultId",
}))
{
<div class="form-group form-inline">
    <input type="text" class="form-control ml-1" name="name" placeholder="find by name">
    <input type="submit" class="btn btn-outline-primary" id="btn-submit" value="Search" />

</div>
    
}
<div style="display:none" id="ajax-loader"><img src="https://i.stack.imgur.com/ATB3o.gif" style="width:50px;height:50px" /></div>

<div id="resultId">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    First Name
                </th>
                <th>
                    @Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstMidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnrollmentDate)
                    </td>
                   
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID } , new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section scripts
{
    <script>
        src = "~/Scripts/jquery.unobtrusive-ajax.js"
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $("input[name=name]").keypress((e) => {
                if (e.which === 13) {
                    $('#btn-submit').click()
                }
            })
        })
    </script>
}
